* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:focus {
	box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
	/* outline-offset: 8px;
  outline: 4px dotted #e67e22; */
	outline: none;
}
html {
	font-size: 10px;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	color: #555;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	line-height: 1;
}

/***************************************/

.container {
	margin: 0 auto;
	max-width: 120rem;
	padding: 0 3.2rem;
}
.grid {
	column-gap: 6.4rem;
	display: grid;
	/* margin-bottom: 9.6rem; */
	row-gap: 9.6rem;
}
.grid:not(:last-child) {
	margin-bottom: 9.6rem;
}
.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
	grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
	align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
	/* color: #333; */
	/* color: #343a40; */
	color: #45260a;
	font-weight: 700;
	letter-spacing: -0.5px;
}
.heading-primary {
	font-size: 5.2rem;
	line-height: 1.05;
	margin-bottom: 3.2rem;
}
.heading-secondary {
	font-size: 4.4rem;
	line-height: 1.2;
	margin-bottom: 9.6rem;
}
.heading-tertiary {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}
.subheading {
	color: #cf711f;
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.75px;
	margin-bottom: 1.6rem;
	text-transform: uppercase;
}

.btn,
.btn:link,
.btn:visited {
	border-radius: 9px;
	border: none;
	display: inline-block;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 600;
	padding: 1.6rem 3.2rem;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
	background-color: #e67e22;
	color: #fff;
}
.btn--full:hover,
.btn--full:active {
	background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
	background-color: #fff;
	color: #555;
}
.btn--outline:hover,
.btn--outline:active {
	background-color: #fdf2e9;
	box-shadow: inset 0 0 0 3px #fff;
}
.btn--form {
	align-self: end;
	background-color: #45260a;
	color: #fdfdfd;
	padding: 1.2rem;
}
.btn--form:hover {
	background-color: #fff;
	color: #555;
}
.link:link,
.link:visited {
	border-bottom: 1px solid currentColor;
	color: #e67e22;
	display: inline-block;
	padding-bottom: 2px;
	text-decoration: none;
	transition: all 0.3s;
}
.link:hover,
.link:active {
	border-bottom: 1px solid transparent;
	color: #cf711f;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	list-style: none;
}
.list-item {
	align-items: center;
	display: flex;
	font-size: 1.8rem;
	gap: 1.6rem;
	line-height: 1.2;
}
.list-icon {
	width: 3rem;
	height: 3rem;
	color: #e67e22;
}
.margin-right-sm {
	margin-right: 1.6rem !important;
}
.margin-bottom-md {
	margin-bottom: 4.8rem !important;
}
.center-text {
	text-align: center;
}
strong {
	font-weight: 500;
}
.hydrated {
	visibility: inherit;
}

/***************************************/

.header {
	align-items: center;
	background-color: #fdf2e9;
	display: flex;
	height: 9.6rem;
	justify-content: space-between;
	padding: 0 4.8rem;
	position: relative;
}
.header.sticky {
	height: 8rem;
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	position: fixed;
	top: 0;
	background-color: rgba(255, 255, 255, 0.97);
	box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
	z-index: 999;
}
.logo {
	height: 3rem;
}
.main-nav-list {
	align-items: center;
	display: flex;
	gap: 3.2rem;
	list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
	color: #333;
	display: inline-block;
	font-size: 1.8rem;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
	color: #e67e22;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
	background-color: #e67e22;
	border-radius: 9px;
	color: #fff;
	padding: 1.2rem 2.4rem;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
	background-color: #cf711f;
}
.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}
.icon-mobile-nav {
	color: #333;
	height: 4.8rem;
	width: 4.8rem;
}
.icon-mobile-nav[name='close-outline'] {
	display: none;
}

/***************************************/

.sticky .section-hero {
	margin-top: 9.6rem;
}
.section-hero {
	background-color: #fdf2e9;
	padding: 4.8rem 0 9.6rem 0;
}
.hero {
	align-items: center;
	display: grid;
	gap: 9.6rem;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	max-width: 130rem;
	padding: 0 3.2rem;
}

.hero-description {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}
.hero-img {
	width: 100%;
}
.delivered-meals {
	align-items: center;
	display: flex;
	gap: 1.6rem;
	justify-content: space-evenly;
	margin-top: 8rem;
}
.delivered-imgs {
	display: flex;
}
.delivered-imgs img {
	border-radius: 50%;
	border: 3px solid #fdf2e9;
	height: 4.8rem;
	margin-right: -1.6rem;
	width: 4.8rem;
}
.delivered-imgs img:last-child {
	margin: 0;
}
.delivered-text {
	font-size: 1.8rem;
	font-weight: 600;
}
.delivered-text span {
	color: #cf711f;
	font-weight: 700;
}

/***************************************/

.section-featured {
	padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
	color: #888;
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 0.75px;
	margin-bottom: 2.4rem;
	text-align: center;
	text-transform: uppercase;
}
.logos {
	display: flex;
	justify-content: space-around;
}
.logos img {
	filter: brightness(0);
	height: 3.2rem;
	opacity: 50%;
}

/***************************************/

.section-how {
	padding: 9.6rem 0;
}
.step-number {
	color: #ddd;
	font-size: 8.6rem;
	font-weight: 600;
	margin-bottom: 1.2rem;
}

.step-description {
	font-size: 1.8rem;
	line-height: 1.8;
}
.step-img-box {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}
.step-img-box::before,
.step-img-box::after {
	border-radius: 50%;
	content: '';
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.step-img-box::before {
	background-color: #fdf2e9;
	padding-bottom: 60%;
	width: 60%;
	z-index: -2;
}
.step-img-box::after {
	background-color: #fae5d3;
	padding-bottom: 45%;
	width: 45%;
	z-index: -1;
}
.step-img {
	width: 35%;
	/* z-index: 10; */
}

/***************************************/

.section-meals {
	padding: 9.6rem 0;
}

.meal {
	border-radius: 11px;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
	overflow: hidden;
	transition: all 0.4s;
}
.meal:hover {
	box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
	transform: translateY(-1.2rem);
}
.meal-img {
	width: 100%;
}
.meal-content {
	padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags {
	display: flex;
	gap: 0.4rem;
	margin-bottom: 1.2rem;
}
.tag {
	border-radius: 100px;
	color: #333;
	display: inline-block;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.4rem 0.8rem;
	text-transform: uppercase;
}
.tag--vegetarian {
	background-color: #51cf66;
}
.tag--vegan {
	background-color: #94d82d;
}
.tag--paleo {
	background-color: #ffd43b;
}

.meal-icon {
	height: 2.4rem;
	width: 2.4rem;
	color: #e67e22;
}
.meal-titles {
	color: #333;
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 3.2rem;
}
.meal-attributes {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	list-style: none;
}
.meal-attribute {
	align-items: center;
	display: flex;
	font-size: 1.8rem;
	gap: 1.6rem;
}

.all-recipes {
	font-size: 1.8rem;
	text-align: center;
}

/***************************************/

.section-testimonials {
	align-items: center;
	background-color: #fdf2e9;
	display: grid;
	grid-template-columns: 55fr 45fr;
}
.testimonials-container {
	padding: 9.6rem;
}
.testimonials {
	column-gap: 8rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 4.8rem;
}
.testimonial-img {
	border-radius: 50%;
	margin-bottom: 1.2rem;
	width: 6.4rem;
}
.testimonial-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 1.6rem;
}
.testimonial-name {
	color: #6f6f6f;
	font-size: 1.6rem;
}
.gallery {
	display: grid;
	gap: 1.6rem;
	grid-template-columns: repeat(3, 1fr);
	padding: 1.6rem;
}
.gallery-item {
	overflow: hidden;
}
.gallery img {
	display: block;
	transition: all 0.4s;
	width: 100%;
}
.gallery img:hover {
	transform: scale(1.1);
}

/***************************************/

.section-pricing {
	padding: 9.6rem 0;
}
.pricing-plan {
	border-radius: 11px;
	width: 75%;
}
.pricing-plan--starter {
	border: 2px solid #fdf2e9;
	justify-self: end;
	padding: 4.6rem;
}
.pricing-plan--complete {
	background-color: #fdf2e9;
	overflow: hidden;
	padding: 4.8rem;
	position: relative;
}
.pricing-plan--complete::after {
	content: 'Melhor Preço';
	position: absolute;
	top: 6%;
	right: -18%;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
	color: #333;
	background-color: #ffd43b;
	padding: 0.8rem 8rem;
	transform: rotate(45deg);
}
.plan-header {
	margin-bottom: 4.8rem;
	text-align: center;
}
.plan-name {
	color: #cf711f;
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: 0.75px;
	margin-bottom: 3.2rem;
	text-transform: uppercase;
}
.plan-price {
	color: #333;
	font-size: 6.2rem;
	font-weight: 600;
	margin-bottom: 1.6rem;
}
.plan-price span {
	font-size: 3rem;
	font-weight: 500;
	margin-right: 0.8rem;
}
.plan-text {
	color: #6f6f6f;
	font-size: 1.6rem;
	line-height: 1.6;
}
.plan-sign-up {
	margin-top: 4.8rem;
	text-align: center;
}
.plan-details {
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: center;
}
.feature-title {
	color: #333;
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1.6rem;
}
.feature-text {
	font-size: 1.8rem;
	line-height: 1.8;
}
.feature-icon {
	color: #e67e22;
	height: 3.2rem;
	width: 3.2rem;
	background-color: #fdf2e9;
	margin-bottom: 3.2rem;
	padding: 1.6rem;
	border-radius: 50%;
}

/***************************************/

.section-cta {
	padding: 4.8rem 0 12.8rem;
	padding: 9.6rem 0 12.8rem 0;
}
.cta {
	background-color: #e67e22;
	background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
	border-radius: 11px;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
	display: grid;
	grid-template-columns: 2fr 1fr;
	overflow: hidden;
}
.cta-text-box {
	color: #45260a;
	padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
	color: #45260a;
	color: inherit;
	margin-bottom: 3.2rem;
}
.cta-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 4.8rem;
}
.cta-form {
	column-gap: 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 2.4rem;
}
.cta-form label {
	display: block;
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
	background-color: #fdf2e9;
	border-radius: 9px;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font-family: inherit;
	font-size: 1.8rem;
	padding: 1.2rem;
	width: 100%;
}
.cta-form input::placeholder {
	color: #aaa;
}
.cta *:focus {
	box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
	outline: none;
}
.cta-img-box {
	background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)),
		url('../img/eating.jpg');
	background-position: center;
	background-size: cover;
}

/***************************************/

.footer {
	border-top: 1px solid #eee;
	padding: 12.8rem 0;
}
.grid--footer {
	grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
	display: flex;
	flex-direction: column;
}
.footer-logo {
	display: block;
	margin-bottom: 3.2rem;
}
.footer-heading {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 4rem;
}
.social-links {
	display: flex;
	gap: 2.8rem;
	list-style: none;
}
.footer-link:link,
.footer-link:visited {
	color: #767676;
	font-size: 1.6rem;
	text-decoration: none;
	transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
	color: #555;
}
.social-icon {
	height: 2.4rem;
	width: 2.4rem;
}
.copyright {
	color: #767676;
	font-size: 1.4rem;
	line-height: 1.6;
	margin-top: auto;
}
.contacts {
	font-style: normal;
	font-size: 1.6rem;
	line-height: 1.6;
}
.address {
	margin-bottom: 2.4rem;
}
.footer-nav {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	list-style: none;
}
